# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/
*__pycache_*
*.pyc

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
